<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
</head>
<body>
    <div>
        <p>Hello {{ username }},  </p>

        <p>You account has been created successfully. <br>
        Follow this link <a href="{{ link }}" style="color: darkblue;"> Here </a> to verify your email address. <br><br>
        <b>Kindly Note: This link is only valid for 24 hours</b>
        </p> 

        <hr>
        <p><b>Your Pals,<br>
        MyJournal Team.</b>      
        </p>
        p
    </div>
</body>
</html>